.comment-header
  .btn-hide(ng-click="hide(c)" ng-disabled="!c.children") {{ c.hidden ? '+' : '-' }}
  .comment-metadata
    span.comment-user Username 
    span.comment-vert-separator | 
    span.comment-vote-count {{c.voteCount}} votes 
    span.comment-vert-separator | 
    span.comment-date(am-time-ago="c.date_posted")
.comment-container(ng-hide="c.hidden")
  .comment-body(ng-hide="c.deleted")
    .comment-text
      | {{c.text}}
    .comment-options
      a(ng-click="upVoteComment(c)") Up 
      span.comment-vert-separator | 
      a(ng-click="downVoteComment(c)" ) Down 
      span.comment-vert-separator | 
      a(ng-click="showReply(c)") Reply 
      span.comment-vert-separator | 
      a(ng-click="editComment(c)") Edit 
      span.comment-vert-separator |  
      a(ng-click="delComment(c)") Delete
      form.comment-test(ng-show="c.replying" ng-submit="addReply($event)")
        textarea(name='comment' class='newText')
        input(type="submit" value="Submit")
  .comment-deleted.comment-body(ng-show="c.deleted")
    | {{c.text}}
  ul.child-list( ng-include=" c.children ? '/views/partials/children' : null " )