.comment-list(ng-controller="CommentController as cmntCtrl")
  .parent(ng-repeat="comm in cmntCtrl.comments")
    .something(ng-repeat="c in comm")
      | {{c.text}}
      child-list(child="c.children" ng-show="c.children")