button.btn-hide(ng-click="hide(c)" ng-disabled="!c.children") Hide
.comment-text(ng-hide="c.deleted")
  | {{c.voteCount}}
  | {{c.text}} --- {{c.date_posted | date : 'medium'}}
.comment-text(ng-show="c.deleted")
  | {{c.text}}
.comment-buttons(ng-hide="c.deleted")
  button(ng-click="addReply(c)") Reply
  button(ng-click="upVoteComment(c)") Upvote
  button(ng-click="downVoteComment(c)" ) Downvote
  button(ng-click="editComment(c)") Edit
  button(ng-click="delComment(c)") Delete
ul.child-list( ng-include=" c.children ? '/views/partials/children' : null " )