.comment-header
  .btn-hide(ng-click="hide(c)" ng-disabled="!c.children") {{ c.hidden ? '+' : '-' }}
  .comment-metadata
    span.comment-user Username 
    span.comment-vert-separator | 
    span.comment-vote-count {{c.voteCount}} votes 
    span.comment-vert-separator | 
    span.comment-date(am-time-ago="c.date_posted")
.comment-container(ng-hide="c.hidden")
  .comment-body(ng-hide="c.deleted")
    .comment-text
      | {{c.text}}
    .comment-options(ng-controller="OptionsController")
      a(ng-click="upVoteComment(c)") Up 
      span.comment-vert-separator | 
      a(ng-click="downVoteComment(c)" ) Down 
      span.comment-vert-separator | 
      a(ng-click="showReply(c)") Reply 
      span.comment-vert-separator | 
      a(ng-click="showEdit(c)") Edit 
      span.comment-vert-separator |  
      a(ng-click="delComment(c)") Delete
      .comment-reply(ng-show="replying")
        form.comment-test(ng-submit="replySubmit(c)")
          textarea(name='comment' class='newText' ng-model="replyText")
          input(type="submit" value="Submit")
      .comment-edit(ng-show="editting")
        form.comment-test(ng-submit="editSubmit(c)")
          textarea(name='comment' class='newText' ng-model="editText")
          input(type="submit" value="Submit")
  .comment-deleted.comment-body(ng-show="c.deleted")
    | {{c.text}}
  ul.child-list( ng-include=" c.children ? '/views/partials/children' : null " )