doctype html
html(ng-app="cmntApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src="bower_components/jQuery/dist/jquery.min.js")
  script(src="bower_components/angular/angular.min.js")
  script(src="bower_components/angular-route/angular-route.min.js")
  script(src="/javascripts/comments.js")
  script(src="/javascripts/scripts.js")