doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="//code.angularjs.org/1.2.19/angular.js")
  script(src="//code.angularjs.org/1.2.19/angular-route.js")
  script(src="/javascripts/test-angular.js")
  script(src="/javascripts/scripts.js")