extends layout

block content
  h1= title
  p Welcome to #{title}
  //- form(id="comment-form" action='/resources/1/comments' method='POST')
  textarea(name='comment' id='textbox')
  button(id='send') Send
  .container
    ul.comment-list(ng-controller="CommentController as cmntCtrl" ng-include=" '/views/partials/root' ")