extends layout

block content
  h1= title
  p Welcome to next level #{title}
  hr
  .row
    .column.small-12
      textarea(name='comment' class='newText' id='textbox')
    .column.small-12
      a.button.small.radius.btn-send(ng-click="sendComment()") Send
  .container
    ul.comment-list( ng-include=" '/views/partials/root' " )